<!DOCTYPE html>
<<html lang="en"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  th:fragment="leavesidebar" class="halo-sidebar halo-sidebar-right halo-leave-sidebar" id="halo-leave-sidebar" data-time="300000">
<div class="wrapper-leave">
    <div class="header-leave">
        <a href="#" class="img-box">
            <img th:src="@{/images/ella-logo-black.png}" alt="Ella Logo">
        </a>
        <a href="#" class="halo-sidebar-close" data-close-before-you-leave title="Close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <path d="M 38.982422 6.9707031 A 2.0002 2.0002 0 0 0 37.585938 7.5859375 L 24 21.171875 L 10.414062 7.5859375 A 2.0002 2.0002 0 0 0 8.9785156 6.9804688 A 2.0002 2.0002 0 0 0 7.5859375 10.414062 L 21.171875 24 L 7.5859375 37.585938 A 2.0002 2.0002 0 1 0 10.414062 40.414062 L 24 26.828125 L 37.585938 40.414062 A 2.0002 2.0002 0 1 0 40.414062 37.585938 L 26.828125 24 L 40.414062 10.414062 A 2.0002 2.0002 0 0 0 38.982422 6.9707031 z"></path>
            </svg>
        </a>
    </div>
    <div class="halo-sidebar-wrapper custom-scrollbar">
        <div class="wrapper-banner">
            <a href="#" class="img-box">
                <img th:src="@{'/images/banners/sidebar/before-you_banner.jpg'}" alt="Before you leave banner">
            </a>
            <div class="content content-box--center content-box--absolute text-center">
                <h3 class="title">Before you leave...</h3>
                <p class="desc desc-1">Take 20% off your first order</p>
                <h3 class="heading-1 uppercase">
                    <span class="text">20% off</span>
                </h3>
                <p class="desc desc-2">Enter the code below at checkout to get 20% off your first order</p>
                <h3 class="heading-2 uppercase">codesale20</h3>
                <a class="button button-2" href="#">
                    <span class="text">Continue Shopping</span>
                </a>
            </div>
        </div>
        <div class="wrapper-content">
            <div class="content-title">
                <h3 class="title">
                                <span class="text">
                                    Recommended
                                </span>
                    <span class="count">3</span>
                </h3>
            </div>
            <div class="content-product">
                <div class="halo-row-item product-item halo-row-item product-item-custom">
                    <div class="product-card">
                        <div class="product-card-top">
                            <a href="#" class="card-media img-box">
                                <img th:src="@{/images/card-product/img-10.jpg}" alt="Halo Product">
                            </a>
                        </div>
                        <div class="product-card-bottom">
                            <div class="product-card-information text-left">
                                <a href="#" class="card-title link-underline card-title-ellipsis">
                                    <span class="text">Dinterdum Pretium Condimento <span data-change-title> - Blue</span></span>
                                </a>
                                <div class="card-price price__sale">
                                    <div class="price-item price-item--regular">
                                        <span class="money ">$140.00</span>
                                    </div>
                                    <div class="price-item price__last">
                                        <span class="money ">$126.00</span>
                                    </div>
                                </div>
                                <div class="card-swatch text-center clearfix">
                                    <ul class="swatch list-unstyled">
                                        <li class="item">
                                            <label  class="swatch-label is-active" data-value="Blue" data-variant-id>
                                                <span class="pattern" style="background-color: #4b6cc0"></span>
                                            </label>
                                        </li>
                                        <li class="item">
                                            <label  class="swatch-label" data-value="Green" data-variant-id>
                                                <span class="pattern" style="background-color: mediumseagreen"></span>
                                            </label>
                                        </li>
                                        <li class="item">
                                            <label  class="swatch-label" data-value="moccasin" data-variant-id>
                                                <span class="pattern" style="background-color: moccasin"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <a class="card-button text-underline" href="#" tabindex="0">
                                    <span class="text">Details</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card-top">
                            <a href="#" class="card-media img-box">
                                <img th:src="@{/images/card-product/img-10.jpg}" alt="Halo Product">
                            </a>
                        </div>
                        <div class="product-card-bottom">
                            <div class="product-card-information text-left">
                                <a href="#" class="card-title link-underline card-title-ellipsis">
                                    <span class="text">Naminos Dementus A Milance<span data-change-title> - Green</span></span>
                                </a>
                                <div class="card-price price__sale">
                                    <div class="price-item price-item--regular">
                                        <span class="money ">$189.00</span>
                                    </div>
                                    <div class="price-item price__last">
                                        <span class="money ">$87.00</span>
                                    </div>
                                </div>
                                <div class="card-swatch text-center clearfix">
                                    <ul class="swatch list-unstyled">
                                        <li class="item">
                                            <label  class="swatch-label is-active" data-value="Green" data-variant-id>
                                                <span class="pattern" style="background-color: mediumseagreen"></span>
                                            </label>
                                        </li>
                                        <li class="item">
                                            <label  class="swatch-label" data-value="moccasin" data-variant-id>
                                                <span class="pattern" style="background-color: moccasin"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <a class="card-button text-underline" href="#" tabindex="0">
                                    <span class="text">Details</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card-top">
                            <a href="#" class="card-media img-box">
                                <img th:src="@{/images/card-product/img-8.jpg}" alt="Halo Product">
                            </a>
                        </div>
                        <div class="product-card-bottom">
                            <div class="product-card-information text-left">
                                <a href="#" class="card-title link-underline card-title-ellipsis">
                                    <span class="text">Magnis Darturien Meros Laciniado<span data-change-title> - Black</span></span>
                                </a>
                                <div class="card-price price__sale">
                                    <div class="price-item price-item--regular">
                                        <span class="money ">$139.00</span>
                                    </div>
                                    <div class="price-item price__last">
                                        <span class="money ">$60.00</span>
                                    </div>
                                </div>
                                <div class="card-swatch text-center clearfix">
                                    <ul class="swatch list-unstyled">
                                        <li class="item">
                                            <label  class="swatch-label is-active" data-value="black" data-variant-id>
                                                <span class="pattern" style="background-color: black"></span>
                                            </label>
                                        </li>
                                        <li class="item">
                                            <label  class="swatch-label" data-value="moccasin" data-variant-id>
                                                <span class="pattern" style="background-color: moccasin"></span>
                                            </label>
                                        </li>
                                        <li class="item">
                                            <label  class="swatch-label" data-value="Blue" data-variant-id>
                                                <span class="pattern" style="background-color: #4b6cc0"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <a class="card-button text-underline" href="#" tabindex="0">
                                    <span class="text">Details</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-leave">
                <a href="#" class="button button-1">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>